body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url('tlo.gif');
    position: relative;
    cursor: url('cursor.cur'), auto;
    color: white;
}


div.header {
    position: fixed; /* Przyklej nagłówek do górnej krawędzi */
    top: 0;
    left: 0;
    height: 24px;
    width: 100%; /* Nagłówek zajmuje całą szerokość */
    background-color: rgba(74, 4, 4, 1); /* Kolor tła */
    color: white; /* Kolor tekstu */
    display: flex; /* Flexbox do wyrównania zawartości */
    justify-content: center; /* Wyrównanie poziome */
    align-items: center; /* Wyrównanie pionowe */
    z-index: 1000; /* Header znajduje się na wierzchu */
    font-size: 14px; /* Opcjonalne dostosowanie wielkości czcionki */
    text-decoration: none; /* Usunięcie podkreślenia linku */
}

div#pjerwszy {
    background-color: rgba(74, 4, 4, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 25%;
    margin: 0;
    padding: 4px;
}

div#donejty {
    background-color: rgba(74, 4, 4, 0.75);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px;
    height: auto;
    width: 25%;
    margin: 8px;
    padding: 4px;
}

div#omnie {
    position: fixed;
    width: 256px;; /* Przypina element w ustalonym miejscu, niezależnie od przewijania strony */
    right: 256px; /* Umieszcza sekcję przy prawej krawędzi */
    top: 50%; /* Wyrównuje do środka wysokości strony */
    transform: translateY(-50%); /* Dostosowuje pozycję tak, aby była wyśrodkowana */
    background-color: rgba(74, 4, 4, 0.9); /* Kolor tła z przeźroczystością */
    color: white; /* Kolor tekstu */
    padding: 8px; /* Wewnętrzny odstęp w sekcji */
    font-size: 14px; /* Rozmiar tekstu */
    z-index: 1000; /* Priorytet wyświetlania ponad innymi elementami */
}

div#licznikosob {
    background-color: rgba(74, 4, 4, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: full;
    width: 25%;
    padding: 8px;
}

div#app {
    position: fixed; /* Przypina element w ustalonym miejscu, niezależnie od przewijania strony */
    left: 256px; /* Umieszcza sekcję przy prawej krawędzi */
    top: 50%;
}

img.blinkersy {
    width: auto; 
    height: 32px; 
}

h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}
#countdown {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
#tytul {
    font-size: 2rem;
}
#ajpi { 
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    color: #ffffff;
}